<!DOCTYPE HTML>
<html>
	<head>
		<title>v-if If Statements</title>
		<meta charset="UTF-8">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<style>
			.special {background:yellow; border: 1px dotted #fe0000; padding:30px; display:block; text-align:center;}
			.important {font-weight:bold; font-size:30px;}
		</style>
	</head>
	<body>
	
	<div id="app" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s; text-align: center; margin: 50px 750px; border: black 2px solid;">

		<!-- <span v-if="profile">
			
			Profile of {{profile.fname}} {{profile.lname}} 		
			
		</span> -->
		

		<!--If the picture is null. It will describe picture no found-->
		<div v-if="profile.pic == '' || profile.pic == null ">			
			No picture found
		</div>
		<!--otherwise will show the picture-->
		<div v-else>
			<img v-bind:src="profile.pic" style ="width:150px;"/>		
		</div>
		<!--If the name is null. It will describe name no found-->
		<div v-if="profile.fname == '' || profile.fname == null && profile.lname == '' || profile.lname == null">			
			No Name found		
		</div>
		<!--otherwise will show the name-->
		<div v-else>
			{{profile.fname}} {{profile.lname}} 
		</div>
		<!--If the description is null. It will show description no found-->			
		<div v-if="profile.desc == '' || profile.desc == null">			
			No description found		
		</div>
		<!--otherwise will show the description-->
		<div v-else>
			{{profile.desc}} 
		</div>
		<!--If the bio is null. It will show bio no found-->
		<div v-if="profile.bio == null || profile.bio =='' ">			
			No Bio Found		
		</div>
		<!--otherwise will show the bio-->
		<div v-else>
			{{profile.bio}} 
		</div>
		<!--If the name, pic, bio and name is null. It will show that the whole profile is not complete-->
		<div v-if="profile.bio == null || profile.bio =='' && profile.desc == null || profile.desc =='' && profile.pic == null || profile.pic =='' && profile.lname == null || profile.lname == '' && profile.fname == null || profile.fname ==''">			
			This profile is no complete!		
		</div>
		
		<!-- <span v-else>
			No Profile Data found.
		</span> -->
	</div>
	
	<script>
	var app = new Vue({
		el: '#app',
		
		data:{
			
			profile:{
				fname: "Barbara",
				lname: "Cam",
				desc : "I love coding more than eating perogies",
				bio : " Venezuelan ready to conquer the coding world",
				pic : './images/barbara.jpg'

			}
			
		}
		
	});
	</script>
	
		<!--
		//step 1: Read Code Above
		//step 2: Does the profile show up?
		
		v-if="boolean_expression"
		v-else-if="boolean_expression"
		v-else
		
		
		You can code an if, else if, else statement into your render using the v-if, v-else-if, v-else.
		Just like in regular programming, v-else has no condition
		
		Notice how the "profile" object is null. Reminder that null is Falsey in the boolean context.
		
		ASYNCHRONOUS LEARNING EXERCISE
		1. Use the profile object to store information about yourself {fname, lname, desc, bio, pic}
		2. Create a figure, figcaption, and image markup which acts as a description for yourself
			(Something like this https://www.w3schools.com/howto/howto_css_cards.asp)
		3. Write conditionals if information is missing (i.e. 'no bio available' if bio is blank, generic image if no pic is found)
		-->
	</body>
</html>